/* -------------------------------------------------------
 *
 *     !! Este archivo fue generado por xaringanthemer !!
 *
 *  Los cambios realizados directamente en este archivo se sobrescribirán
 *  si has utilizado xaringanthemer en tus diapositivas de xaringan Rmd
 *
 *  ¿Problemas o sugerencias?
 *    - https://github.com/gadenbuie/xaringanthemer
 *    - https://www.garrickadenbuie.com
 *
 *  ¿Necesitas ayuda? Prueba:
 *    - vignette(package = "xaringanthemer")
 *    - ?xaringanthemer::style_xaringan
 *    - xaringan wiki: https://github.com/yihui/xaringan/wiki
 *    - remarkjs wiki: https://github.com/gnab/remark/wiki
 *
 *  Versión: 0.4.2
 *
 * ------------------------------------------------------- */

/* Importación de fuentes */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cabin:600,600i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap);

/* Importación de fuentes de escritura a mano */
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

:root {
  /* Fuentes */
  --text-font-family: 'Noto Sans';
  --text-font-is-google: 1;
  --text-font-family-fallback: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial;
  --text-font-base: sans-serif;
  --header-font-family: Cabin;
  --header-font-is-google: 1;
  --header-font-family-fallback: Georgia, serif;
  --code-font-family: 'Source Code Pro';
  --code-font-is-google: 1;
  --base-font-size: 20px;
  --text-font-size: 1rem;
  --code-font-size: 0.9rem;
  --code-inline-font-size: 1em;
  --header-h1-font-size: 2.75rem;
  --header-h2-font-size: 2.25rem;
  --header-h3-font-size: 1.75rem;

  /* Colores */
  --text-color: #000000;
  --header-color: #0d3b66;
  --background-color: #FFFFFF;
  --link-color: #0d3b66;
  --text-bold-color: #0d3b66;
  --code-highlight-color: rgba(255,255,0,0.5);
  --inverse-text-color: #000000;
  --inverse-background-color: #f4d35e;
  --inverse-header-color: #FFFFFF;
  --inverse-link-color: #0d3b66;
  --title-slide-background-color: #0d3b66;
  --title-slide-text-color: #FFFFFF;
  --header-background-color: #0d3b66;
  --header-background-text-color: #FFFFFF;
  --primary: #0d3b66;
  --secondary: #f4d35e;
  --white: #FFFFFF;
  --

/* Alinear título y párrafos en la parte superior y a la izquierda */
h1, p {
  text-align: left;
  vertical-align: top;
}


.slides>section:first-child {
  background-image: url(img/banner0.png);  /* Reemplaza "path_to_image.jpg" con la ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  opacity: 0.8; /* Ajusta el valor para cambiar la opacidad (0.0 a 1.0) */
}